<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title, Description and Keyword -->
  <title>Louisa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

   <!--   Google web fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  
  <!-- Stylesheets -->
  <link href="style/bootstrap.css" rel="stylesheet">
  <link href="style/prettyPhoto.css" rel="stylesheet">
  <link rel="stylesheet" href="style/font-awesome.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="style/font-awesome-ie7.css">
  <![endif]-->		
  <link href="style/style.css" rel="stylesheet">
  <link href="style/bootstrap-responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>

<a name="top" id="top"></a>

<!-- Top social media links -->
<div class="top">
   <div class="container">
      <div class="row">
         <div class="span3 offset9">
            <div class="social">
               <!-- Replace # with your profile link -->
               <a href="#" class="tip" data-original-title="Facebook"><i class="icon-facebook"></i></a>
               <a href="#" class="tip" data-original-title="Twitter"><i class="icon-twitter"></i></a>
               <a href="#" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin"></i></a>
               <a href="#" class="tip" data-original-title="Google Plus"><i class="icon-google-plus"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Logo section -->
<header>
   <div class="container">
      <div class="row">
         <div class="span12">
            <!-- Logo section. Replace # with your site link -->
            <div class="logo">
               <div class="ltop"><a href="#"><i class="icon-gift"></i></a></div>
               <div class="lbot"><p><span class="color">Louisa</span> Inc<span class="color">.</span></p></div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="span12">
            <div class="info">
               <!-- Info about your site. Hero Section. -->
               <p>Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi <span class="color">tincidunt posuere</span> turpis eu laoreet. Nulla facilisi. Aenean at massa leo. Nulla facilisi. Aenean at massa leo.</p>
            </div>
         </div>
      </div>
      <hr />
   </div>
</header>



<!-- Navigation -->

<!-- Please note down the mark up before editing. -->
<div class="navy">
   <div class="container">
      <div class="row">
         <div class="span12">
            <!-- Each sec "sec1", "sec2" and "sec3" holds two navigation links. -->
            <div class="sec1">
               <div class="n1">
                  <!-- Nav #1 -->
                  <a href="#top" class="anchorLink">Home<br /><span>Blah Blah Blah</span></a>
               </div>
               <div class="n1">
                  <!-- Nav #2 -->
                  <a href="#services" class="anchorLink">Services<br /><span>Blah Blah Blah</span></a>
               </div>
            </div>
            <div class="sec2">
               <div class="n1">
                  <!-- Nav #3 -->
                  <a href="#features" class="anchorLink">Features<br /><span>Blah Blah Blah</span></a>
               </div>
               <div class="n1">
                  <!-- Nav #4 -->
                  <a href="#portfoli" class="anchorLink">Portfolio<br /><span>Blah Blah Blah</span></a>
               </div>
            </div>
            <div class="sec3">
               <div class="n1">
                  <!-- Nav #5 -->
                  <a href="#about" class="anchorLink">About<br /><span>Blah Blah Blah</span></a>
               </div>
               <div class="n1">
                  <!-- Nav #6 -->
                  <a href="#contact" class="anchorLink">Contact<br /><span>Blah Blah Blah</span></a>
               </div>
            </div>           
         </div>  
         <div class="clearfix"></div>
      </div>
   </div>
</div>

<div class="border"></div>

<!-- Services -->

<a name="services" id="services"></a>

<div class="services content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="bor"></div>
            <div class="up"><a href="#top" class="anchorLink"><i class="icon-caret-up"></i></a></div>
            <!-- Title -->
            <h3>Services</h3>
            <div class="bor"></div>
         </div>
      </div>
      <div class="row">
         <div class="span12">
            <!-- Intro para -->
            <p class="center">Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor non felis commodo in sagittis est accumsan.</p>
            <hr />
            <div class="slist">
               <div class="row">
                  <div class="span3">
                     <!-- Service #1 -->
                     <div class="service">
                        <!-- Service image -->
                        <p class="sicon"><i class="icon-gift"></i></p>
                        <!-- Service title -->
                        <h5>Phasellus at lorem</h5>
                        <!-- Service para -->
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #2 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-briefcase"></i></p>
                        <h5>Seddiam nisih pulvinar</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #3 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-cloud"></i></p>
                        <h5>Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #4 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-cogs"></i></p>
                        <h5>Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>                  
               </div>
               <div class="row">
                  <div class="span3">
                     <!-- Service #5 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-dashboard"></i></p>
                        <h5>Phasellus at lorem</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #6 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-lemon"></i></p>
                        <h5>Seddiam nisih pulvinar</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #7 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-camera"></i></p>
                        <h5>Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span3">
                     <!-- Service #8 -->
                     <div class="service">
                        <p class="sicon"><i class="icon-flag"></i></p>
                        <h5>Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim.</p>
                        <hr />
                     </div>
                  </div>                  
               </div>               
            </div>
         </div>
      </div>
   </div>
</div>

<div class="border"></div>

<!-- Features -->

<a name="features" id="features"></a>

<div class="features content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="bor"></div>
            <div class="up"><a href="#top" class="anchorLink"><i class="icon-caret-up"></i></a></div>
            <!-- Features title -->
            <h3>Features</h3>
            <div class="bor"></div>
         </div>
      </div>
      <div class="row">
         <div class="span12">
            <!-- Features intro -->
            <p class="center">Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor non felis commodo in sagittis est accumsan.</p>
            <hr />
            <div class="flist">
               <div class="row">
                  <div class="span6">
                     <!-- Feature #1 -->
                     <div class="feature">
                        <!-- Feature title -->
                        <h5><i class="icon-circle-arrow-right"></i> Phasellus at lorem</h5>
                        <!--Feature para -->
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit,  eget mauris.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span6">
                     <!-- Feature #2 -->
                     <div class="feature">
                        <h5><i class="icon-circle-arrow-right"></i> Seddiam nisih pulvinar</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit,  eget mauris.</p>
                        <hr />
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="span6">
                     <!-- Feature #3 -->
                     <div class="feature">
                        <h5><i class="icon-circle-arrow-right"></i> Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim. hasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit,  eget mauris.</p>
                        <hr />
                     </div>
                  </div>
                  <div class="span6">
                     <!-- Feature #4 -->
                     <div class="feature">
                        <h5><i class="icon-circle-arrow-right"></i> Venenatis Eeget</h5>
                        <p class="small">Fusce imperdiet, risus eget viverra faucibus, ut vestibulum tellus magna nec enim. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit,  eget mauris.</p>
                        <hr />
                     </div>
                  </div>                  
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="border"></div>

<!-- Portfolio -->

<a name="portfoli" id="portfoli"></a>

<div class="port content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="bor"></div>
            <div class="up"><a href="#top" class="anchorLink"><i class="icon-caret-up"></i></a></div>
            <!-- Portfolio title -->
            <h3>Portfolio</h3>
            <div class="bor"></div>
         </div>
      </div>
      <div class="row">
         <div class="span12">
            <!-- Portfolio intro -->
            <p class="center">Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor non felis commodo in sagittis est accumsan.</p>
            <hr />
            <div class="glist">
               <div class="row">
                  <div class="span12">
                        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
                        <ul id="filters">
                          <li><a href="#" data-filter="*" >All</a></li>
                          <li><a href="#" data-filter=".one" >One</a></li>
                          <li><a href="#" data-filter=".two" >Two</a></li>
                          <li><a href="#" data-filter=".three" >Three</a></li>
                          <li><a href="#" data-filter=".four" >Four</a></li>
                          <li><a href="#" data-filter=".five" >Five</a></li>
                        </ul>
                        <hr />
                  </div>
               </div>
               <div class="row">
                  <div class="span12">
                     <div id="portfolio">
                        <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
                       <p class="element one three"><a href="img/photos/1.jpg" class="prettyphoto"><img src="img/photos/tn_1.jpg" alt=""/></a></p>
                       <p class="element two one"><a href="img/photos/2.jpg" class="prettyphoto"><img src="img/photos/tn_2.jpg" alt=""/></a></p>
                       <p class="element three five"><a href="img/photos/3.jpg" class="prettyphoto"><img src="img/photos/tn_3.jpg" alt=""/></a></p>
                       <p class="element four two"><a href="img/photos/4.jpg" class="prettyphoto"><img src="img/photos/tn_4.jpg" alt=""/></a></p>
                       <p class="element five one"><a href="img/photos/5.jpg" class="prettyphoto"><img src="img/photos/tn_5.jpg" alt=""/></a></p> 
                       <p class="element four five"><a href="img/photos/6.jpg" class="prettyphoto"><img src="img/photos/tn_6.jpg" alt=""/></a></p> 
                       <p class="element three one"><a href="img/photos/7.jpg" class="prettyphoto"><img src="img/photos/tn_7.jpg" alt=""/></a></p>
                       <p class="element one four"><a href="img/photos/8.jpg" class="prettyphoto"><img src="img/photos/tn_8.jpg" alt=""/></a></p>
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="border"></div>

<!-- About -->

<a name="about" id="about"></a>

<div class="about content">
   <div class="container">
      <div class="row">
         <div class="span12">
            <div class="bor"></div>
            <div class="up"><a href="#top" class="anchorLink"><i class="icon-caret-up"></i></a></div>
            <!-- About title -->
            <h3>About Us</h3>
            <div class="bor"></div>
         </div>
      </div>
      <div class="row">
         <div class="span12">
            <!-- About para -->
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vegestas in dictum nisi vehicula. <a href="#">Praesent ultricies</a> enim pellentesque. Nullam posuere, sodales eu orci. Duis sed dolor placerat semper quis in urna.</p>
            <hr />
            <div class="row">
               <div class="span4">
                  <!-- About #1 -->
                  <div class="staff">
                     <!-- Staff pic -->
                     <div class="pic"><img src="img/ashok.jpg" alt="" /></div>
                     <!-- Staff name -->
                     <h4>Duisris Arisus</h4>
                     <!-- Staff designation -->
                     <h6 class="color">CEO of Inc</h6>
                     <!-- Staff intro -->
                     <p class="small">Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. </p>
                     <!-- Social media icons -->
                     <div class="ssocial">
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-google-plus"></i></a>
                     </div>
                     <hr />
                  </div>
               </div>
               <div class="span4">
                  <!-- About #2 -->
                  <div class="staff">
                     <div class="pic"><img src="img/ashok.jpg" alt="" /></div>
                     <h4>Fermentum Sed</h4>
                     <h6 class="color">CTO of Inc</h6>
                     <p class="small">Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. </p>
                     <div class="ssocial">
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-google-plus"></i></a>
                     </div>
                     <hr />
                  </div>
               </div>
               <div class="span4">
                  <!-- About #3 -->
                  <div class="staff">
                     <div class="pic"><img src="img/ashok.jpg" alt="" /></div>
                     <h4>Fusce Imperdiet</h4>
                     <h6 class="color">CFO of Inc</h6>
                     <p class="small">Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. </p>
                     <div class="ssocial">
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                        <a href="#"><i class="icon-google-plus"></i></a>
                     </div>
                     <hr />
                  </div>
               </div>
            </div>
            <div class="bor"></div>
         </div>
      </div>
   </div>
</div>
 
<div class="border"></div>
	
<!-- Footer -->

<a name="contact" id="contact"></a>

<footer>
  <div class="container">
    <div class="contact">
      <div class="row">
         <div class="span12">
            <div class="up"><a href="#top" class="anchorLink"><i class="icon-caret-up"></i></a></div>
         </div>
      </div>
      <div class="row">
         <div class="span6">
            <div class="form padd">
               <!-- Contact title -->
              <h4>Contact Us</h4>
              <hr />
              <!-- Contact form -->
              <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                      <input type="text" class="input-medium" id="name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                      <input type="text" class="input-medium" id="email">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="website">Website</label>
                    <div class="controls">
                      <input type="text" class="input-medium" id="website">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="comment">Comment</label>
                    <div class="controls">
                      <textarea class="input-madium" id="comment" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-danger">Submit</button>
                    <button type="reset" class="btn">Reset</button>
                  </div>
              </form>
            </div>
         </div>
         <div class="span6">
               <!-- Google maps -->
               <div class="gmap">
                  <iframe height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;aq=2&amp;oq=London&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;ll=51.404615,-0.341578&amp;spn=0.013921,0.032015&amp;t=m&amp;output=embed"></iframe>
               </div>
               <hr />
               <!-- Address -->
               <div class="address">
                  <div class="row">
                     <div class="span3">
                        <address class="small">
                          <span class="bold company"><i class="icon-globe color"></i> Your Company, Inc.</span><br>
                          795 Folsom Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                        </address>
                     </div>
                     <div class="span3">
                        <address class="small">
                          <span class="bold company"><i class="icon-user color"></i> Your Name</span><br>
                          <i class="icon-envelope-alt color"></i> first.last@gmail.com<br>
                          <i class="icon-phone color"></i> (123) 456-7890
                        </address>
                     </div>
                  </div>
               </div>
         </div>
      </div>
    </div>
    <hr />
    <!-- Copyright info -->
    <div class="row copy">
      <div class="span5">
         <div class="padd">
            <p>Copyright &copy; <a href="#">Your Site</a></p>
         </div>
      </div>
      <div class="span3 offset4">
         <div class="padd">
            <!-- Social media icons. Replace # with your profile link -->
            <div class="social">
               <a href="#"><i class="icon-facebook"></i></a>
               <a href="#"><i class="icon-twitter"></i></a>
               <a href="#"><i class="icon-linkedin"></i></a>
               <a href="#"><i class="icon-google-plus"></i></a>
            </div>
         </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>		

<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.anchor.js"></script>
<script src="js/isotype.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/custom.js"></script>
</body>
</html>